$desktop_width: 1200px;
$tablet_width: 1024px;
$mobile_width: 768px;

@mixin media_desktop {
	@media screen and (max-width: #{$desktop_width}) {
		@content;
	}
}

@mixin media_tablet {
	@media screen and (max-width: #{$tablet_width}) {
		@content;
	}
}

@mixin media_mobile {
	@media screen and (max-width: #{$mobile_width}) {
		@content;
	}
}
